body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(145deg, #eaeaea, #f6f6f6);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: right;
}

input[type="text"] {
    width: calc(100% - 180px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
}

.results {
    text-align: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.results h3 {
    color: #fff;
    margin-bottom: 10px;
}

.results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.results li {
    color: #fff;
    margin-bottom: 10px;
}

.results original_li {
    color: #eaff00;
    margin-bottom: 10px;
}

#next-support-message-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

textarea {
    resize: none;
    width: 100%; 
}

.download-button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #218838;
}